# Python va Django maxsus fayllari
__pycache__/
*.py[cod]
*$py.class
*.so

# Django loyiha fayllari
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
.env
.env.bak
venv/
.env/
*.sqlite3

# Statik va media fayllar
/staticfiles/  # collectstatic natijasida hosil bo‘ladigan fayllar
/media/  # Foydalanuvchi yuklagan fayllar

# Virtual muhit
venv/
ENV/
env/
*.venv/
*.env/

# IDE va muharrir fayllari
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Zaxira fayllari
/backups/

# Test va coverage fayllari
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Dokumentatsiya va boshqa vositalar
docs/_build/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Boshqa umumiy fayllar
*.bak
*.swp
*~
.DS_Store
Thumbs.db