<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ta'limiy Ruletka</title>
    <link rel="stylesheet" href="{% static 'assets/styles_custom.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
</head>
<body>
<div id="app" class="">
    <header>
        <h1>Ta'limiy Ruletka</h1>
    </header>
    <div class="question-container">
        <div class="progress-indicator">Savol [[ currentQuestionIndex + 1 ]] / [[ questions.length ]]</div>
        <div class="question-text" v-if="currentQuestion">[[ currentQuestion.question_text ]]</div>
        <div class="question-text" v-else>Savollar yuklanmoqda...</div>
    </div>
    <div class="game-card">
        <div class="game-area">
            <div class="wheel-container">
                <canvas id="wheel" width="600" height="600"></canvas>
            </div>
        </div>
        <div class="controls">
            <button @click="spin" class="btn btn-primary">Aylantir</button>
            <button @click="rotateInner(-1)" class="btn btn-secondary">⬅</button>
            <button @click="rotateInner(1)" class="btn btn-secondary">➡</button>
            <button @click="checkAnswer" class="btn btn-primary" :disabled="!selectedAnswer">Tekshir</button>
            <button @click="confirmCompleteSession" class="btn btn-complete">Yakunla</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3.4.38/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'assets/game.js' %}"></script>
</body>
</html>